
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.header{
  text-align: center;
  background-color: blue;
  border: 2px solid black;
  border-radius: 10px;
}

 
.img{
  border: 2px solid black;
  border-radius: 10px;
}
.webdesign{
  padding: 10px;
  background-color: whitesmoke;
  display: flex;
  gap: 15px;
}
@media screen and (min-width:900px){

  body{
    position: absolute;
    background-color: brown;
  }
  
}

