* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.header {
  text-align: center;
  background-color: rgb(0, 255, 68);
  border: 2px solid black;
  border-radius: 10px;
  
}

.img {
  border: 2px solid black;
  border-radius: 10px;


}
.webdesign {
  padding: 10px;
  background-color: whitesmoke;
  display: flex;
  gap: 15px;
  position: fixed;
  

}
@media screen and (max-width: 608px ) and (min-width:3000px){
  * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  .header {
    text-align: center;
    background-color: blue;
    border: 2px solid black;
    border-radius: 10px;
    height: 50vh;
    width: 70vw;
    position: fixed;
  }
  .img {
    border: 2px solid black;
    border-radius: 10px;
    width: 20vw;
    height: 20vh;
  }
  .webdesign {
  padding: 10px;
  background-color: whitesmoke;
  display: flex;
  gap: 15px;
  position: fixed;
  width: 70vw;
  height:70vh ;
  
  }
  .content{
  padding: 10px;
  background-color: whitesmoke;
  position: fixed;
  width: 20vw;
  height: 30vh;

  
  

  }
}
